.page {
	padding-block: toRem(50);

	hr {
		height: toRem(2);
		background-color: gray;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__wrap {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
	// .page__container
	&__container {
	}
	// .page__title
	&__title {
		font-size: toRem(25);
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .page__text
	&__text {
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&__back {
		position: relative;
		color: #8c71a5;
		font-size: toRem(18);
		padding-inline-start: toRem(15);
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			inline-size: toRem(10);
			block-size: toRem(2);
			inset-inline-start: 0;
			background-color: #77608d;
			transition: inset-inline-start 0.3s;
		}
		&::before {
			inset-block-start: toRem(8);
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
			inset-block-end: toRem(9.5);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					inset-inline-start: toRem(-4);
				}
			}
		}
	}
	&__list {
		&:not(:last-child) {
			margin-block-end: toRem(25);
		}
	}

	.table {
		&:not(:last-child) {
			margin-block-end: toRem(20);
		}
	}

	&__tables {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(40);
		table {
			td {
				min-inline-size: toRem(42);
				text-align: center;
			}
		}
	}

	&__data {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
}

div {
	line-height: 1.4;
}

.list-page {
	counter-reset: number;
	// .list-page__item
	&__item {
		&:not(:last-child) {
			padding-block-end: toRem(15);
			border-bottom: toRem(2) solid gray;
			margin-block-end: toRem(15);
		}
		&::before {
			counter-increment: number;
			content: counter(number) ")";
			transition: color 0.3s;
			margin-inline-end: toRem(5);
		}
		&:has(a:hover)::before {
			color: #7a956b;
		}
		&--gred {
			display: grid;
			grid-template-columns: auto 1fr;
			row-gap: toRem(15);
			column-gap: toRem(5);
			img {
				max-width: 100%;
				grid-column: span 2;
			}
			.list-page__result {
				grid-column: span 2;
			}
		}
	}
	&__title {
		display: inline-block;
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #7a956b;
				}
			}
		}
	}
	&__wrap {
		margin-block-start: toRem(10);
		padding-inline-start: toRem(25);
		& > * {
			margin-block-end: toRem(15);
		}
		& > *:last-child {
			margin-block-end: 0;
		}
	}
	&__text {
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	&__img {
		max-inline-size: 100%;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

.info {
	color: red;
	font-size: toRem(25);
	&--green {
		color: green;
	}
}

.table {
	border-collapse: collapse;
	font-size: toRem(16);
	letter-spacing: toRem(1);
	&.--border-red {
		border: toRem(3) solid red;
	}
	caption {
		margin-block-end: toRem(5);
		font-weight: 600;
	}
	th {
		font-weight: 700;
		border: toRem(2) solid #fff;
		padding: toRem(12) toRem(10);
	}
	&__thead {
		background-color: gray;
		th,
		td {
			border: toRem(2) solid white;
		}
		td {
			padding-inline: toRem(10);
			text-align: center;
			font-weight: 700;
		}
		th {
			text-align: center;
			font-weight: 700;
		}
	}
	&__tbody,
	&__tfoot {
		th,
		td {
			border: toRem(2) solid gray;
			padding: toRem(12) toRem(10);
			text-align: center;
		}
		td {
			&.green {
				background-color: green;
			}
			&.red {
				background-color: orangered;
			}
		}
	}
	&__tbody {
		&--center {
			th {
				text-align: right;
			}
			td {
				text-align: center;
			}
		}
	}
	&__tfoot {
		th {
			text-align: right;
		}
	}
}

.menu {
	// .menu__list
	&__list {
	}
}
.menu-list {
	counter-reset: step;
	&--start-3 {
		counter-reset: step 2;
	}
	// .menu-list__item
	&__item {
		display: flex;
		column-gap: toRem(5);
		&::before {
			content: counter(step) ".";
			counter-increment: step;
		}
	}
}

.victory {
	font-weight: 700;
	font-size: toRem(25);
	color: green;
}

hr {
	margin-block-start: toRem(15);
}

.list {
	&:not(:last-child) {
		padding-bottom: toRem(20);
		border-bottom: toRem(1) solid gray;
		margin-bottom: toRem(20);
	}
	&__item {
		display: flex;
		column-gap: toRem(10);
		align-items: center;
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
		&::before {
			content: "";
			inline-size: toRem(10);
			block-size: toRem(10);
			background-color: #77608d;
			border-radius: 50%;
		}
		.correct {
			background-color: green;
		}
	}
	&__button {
		padding: toRem(5);
		transition:
			border-color 0.3s,
			color 0.3s;
		border: toRem(1) solid transparent;
		@media (any-hover: hover) {
			&:hover {
				color: #77608d;
			}
		}
		&.--active {
			border-color: #77608d;
		}
	}
}

.form {
	&__row {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
	&__label {
		display: flex;
		column-gap: toRem(10);
		align-items: center;
		input {
			align-self: flex-start;
			max-inline-size: toRem(200);
			block-size: toRem(35);
			background-color: #fff;
			border: toRem(1) solid gray;
			padding-inline: toRem(15);
			border-radius: toRem(5);
			color: #000;
		}
	}
}

.images-game {
	display: flex;
	align-items: center;
	column-gap: toRem(25);
	&__item {
		flex-basis: toRem(200);
		aspect-ratio: 1;
		flex-shrink: 0;
		img {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}
}

.page__game {
	display: grid;
	gap: toRem(10);
	justify-items: start;
	grid-template-columns: repeat(5, toRem(20));
	input {
		inline-size: toRem(20);
		block-size: toRem(20);
		appearance: none;
		cursor: pointer;
		border: toRem(1) solid grey;
		&.--miss {
			background-color: red;
		}
		&.--green {
			background-color: green;
		}
		&.--blue {
			background-color: blue;
		}
		&.--yellow {
			background-color: yellow;
		}
	}
}

.page__health {
	position: fixed;
	inset-block-end: toRem(120);
	inset-inline-start: toRem(120);
	font-size: toRem(20);
	span {
		color: red;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.page__shells {
	position: fixed;
	inset-block-end: toRem(120);
	inset-inline-end: toRem(820);
	font-size: toRem(20);
	span {
		color: yellow;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.page__cannon {
	position: fixed;
	inset-block-end: toRem(180);
	inset-inline-end: toRem(820);
	font-size: toRem(20);
	span {
		color: green;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.play {
	padding: toRem(10) toRem(30);
	background-color: #77608d;
	color: #fff;
	border-radius: toRem(8);
	transition: background-color 0.3s;

	@media (any-hover: hover) {
		&:hover {
			background-color: #5f4b72;
		}
	}
	&:disabled {
		cursor: default;
		background-color: grey;
	}
	&:not(:last-child) {
		margin-block-end: toRem(40);
	}
}

.mark-list {
	&__item {
		display: flex;
		column-gap: toRem(10);
		&:not(:last-child) {
			margin-block-end: toRem(7);
		}
		&::before {
			content: "";
			flex-shrink: 0;
			margin-block-start: toRem(9);
			inline-size: toRem(8);
			block-size: toRem(8);
			background-color: #fff;
			border-radius: 50%;
		}
	}
}

.code,
.code > span {
	display: block;
}

.game-field {
	display: inline-grid;
	grid-template-columns: repeat(6, toRem(25));
	grid-template-rows: repeat(6, toRem(25));
	grid-auto-rows: repeat(6, toRem(30));
	gap: toRem(7);
	&:not(.--end) input {
		cursor: pointer;
	}
	&.--end input {
		cursor: default;
	}
	input {
		appearance: none;
		display: block;
		width: 100%;
		height: 100%;
		border: toRem(2) solid grey;

		&.--miss,
		&.--complete {
			cursor: default;
		}
		&.--miss {
			background-color: red;
		}
		&.--complete {
			background-color: green;
		}
	}
}

.start-data {
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
}

.list-object {
	// .list-object__item
	&__item {
		position: relative;
		padding-left: toRem(20);
		line-height: 1.6;
		&::before {
			content: "";
			position: absolute;
			width: toRem(10);
			height: toRem(2);
			top: toRem(12);
			left: 0;
			border-radius: 50%;
			background-color: #fff;
		}
	}
	// .list-object__sub-list
	&__sub-list {
		padding-left: toRem(5);
	}
	// .list-object__sub-item
	&__sub-item {
		position: relative;
		padding-left: toRem(15);
		&::before {
			content: "";
			position: absolute;
			width: toRem(7);
			height: toRem(7);
			top: toRem(11);
			left: 0;
			border-radius: 50%;
			background-color: #fff;
		}
	}
}

.banner {
	display: block;
	max-width: toRem(500);
	aspect-ratio: 1;
	margin: 0 auto;
	border-radius: toRem(20);
	overflow: hidden;
	background-color: lightgray;
	@media (any-hover: hover) {
		&:hover {
			img {
				transform: scale(1.03);
			}
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		will-change: transform;
		transition: transform 0.3s;
	}
}

.button {
	background-color: #77608d;
	padding: toRem(10) toRem(25);
	border-radius: toRem(8);
	transition: background-color 0.3s;
	&--bg-green {
		background-color: #7a956b;
	}
	&:disabled {
		cursor: default;
		background-color: gray;
	}
	@media (any-hover: hover) {
		&:not(:disabled):hover {
			background-color: #5d4a6f;
		}
		&--bg-green {
			&:not(:disabled):hover {
				background-color: #687e5b;
			}
		}
	}
}

.input {
	display: block;
	background-color: #77608d;
	max-width: toRem(300);
	height: toRem(40);
	border-radius: toRem(8);
	padding-inline: toRem(15);
	outline-offset: toRem(2);
	outline: toRem(2) solid transparent;
	transition: outline-color 0.3s;
	font-size: toRem(16);
	&.assessment {
		min-width: toRem(100);
	}
	&::placeholder {
		color: lightgray;
	}
	&:focus-visible {
		outline-color: #7a956b;
	}
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
}

.notifications {
	display: block;
	max-width: toRem(500);
	background-color: #fff;
	border-radius: toRem(8);
	resize: none;
	padding: toRem(15);
	color: black;
	font-size: toRem(16);
	height: toRem(50);
	overflow: hidden;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(10);
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
}

//===========================================================================
.fields {
	> * {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .fields__line
	&__line {
		display: flex;
		column-gap: toRem(15);
		align-items: center;
	}
	// .fields__label
	&__label {
	}
	// .fields__input
	&__input {
	}
	// .fields__actions
	&__actions {
	}
	// .fields__button
	&__button {
	}
}

.table-container {
	overflow-x: auto;
}

.transport {
	height: toRem(35);
	appearance: none;
	padding-inline: toRem(10);
	background-color: #77608d;
	color: #fff;
	font-size: toRem(16);
	border-radius: toRem(5);
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
	option {
		&:disabled {
			color: lightgray;
		}
	}
}

.nutrition {
	display: flex;
	gap: toRem(20);
	flex-wrap: wrap;
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
	// .nutrition__label
	&__label {
		position: relative;
		display: inline-flex;
		align-items: center;
		column-gap: toRem(10);
		outline: toRem(1) solid transparent;
		outline-offset: toRem(2);
		transition: outline-color 0.3s;
		cursor: pointer;
		&::before {
			content: "";
			flex-shrink: 0;
			width: toRem(20);
			height: toRem(20);
			border: toRem(1) solid lightgray;
			border-radius: toRem(2);
			transition: background-color 0.3s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: toRem(20);
			height: toRem(20);
			background: url("../img/checkbox.svg") center / toRem(10) no-repeat;
			opacity: 0;
			transition: opacity 0.3s;
			transform: translateY(-50%);
		}
		&:has(input:checked) {
			&::before {
				background-color: #77608d;
			}
			&::after {
				opacity: 1;
			}
		}
		&:has(input:focus-visible) {
			outline-color: #77608d;
		}
	}
	// .nutrition__input
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
	}
}
.guides {
	display: flex;
	flex-wrap: wrap;
	gap: toRem(20);
	&:not(:last-child) {
		margin-bottom: toRem(10);
	}
	// .guides__label
	&__label {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		column-gap: toRem(10);
	}
	// .guides__input
	&__input {
		appearance: none;
		width: toRem(15);
		height: toRem(15);
		border: toRem(1) solid white;
		border-radius: 50%;
		transition:
			background-color 0.3s,
			border-color 0.3s;
		&:checked {
			background-color: #77608d;
			border-color: #77608d;
		}
	}
}
.button {
}

.clickable {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: toRem(15);
	&__item {
		background-color: #77608d;
		padding: toRem(7) toRem(15);
		border-radius: toRem(5);
		transition: background-color 0.3s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: #59476a;
			}
		}
		&--red {
			background-color: red;
			@media (any-hover: hover) {
				&:hover {
					background-color: rgb(199, 2, 2);
				}
			}
		}
	}
}

.inputs {
	max-width: toRem(300);
}

.line {
	display: flex;
	align-items: center;
	column-gap: toRem(15);
	&__label {
		flex-shrink: 0;
	}
	&__input {
		border: toRem(1) solid gray;
		height: toRem(40);
		padding-inline: toRem(15);
	}
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
}

.some-list {
	counter-reset: index;
	&.--even {
		background-color: green;
	}
	&.--odd {
		background-color: red;
	}
	&:not(:last-child) {
		margin-bottom: toRem(10);
		padding-bottom: toRem(10);
		border-bottom: toRem(1) solid gray;
	}
	&__item {
		display: flex;
		column-gap: toRem(10);
		&::before {
			content: counter(index) ".";
			counter-increment: index;
		}
	}
}

.amount-click {
	// display: flex;
	// column-gap: toRem(5);
	&::after {
		content: attr(data-amount);
	}
}

.product-list {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: toRem(10);
}

.card {
	padding: toRem(10);
	display: flex;
	flex-direction: column;
	row-gap: toRem(10);
	border: toRem(3) solid transparent;
	transition: border-color 0.3s;
	&--border-green {
		border-color: green;
	}
	&__label {
		align-self: flex-start;
		background-color: orange;
		color: #fff;
		text-transform: uppercase;
		border-radius: toRem(15);
		padding: toRem(7) toRem(10);
		line-height: 16px;
		font-size: toRem(16);
		&.--stock {
			background-color: red;
		}
	}
	&__img {
		background-color: white;
		aspect-ratio: 1 / 0.8;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__title {
		flex-grow: 1;
	}
}

.athletes {
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__list {
	}
}

.list-athletes {
	padding: toRem(10);
	border: toRem(1) solid white;
	&__item {
		padding: toRem(5);
		border: toRem(1) solid white;
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__button {
		width: toRem(30);
		height: toRem(20);
		background: url("../img/arrow-right.svg") center / toRem(22) no-repeat;
		&.--arrow-left {
			transform: rotate(-180deg);
			background-image: url("../img/arrow-left.svg");
		}
	}
}

.lists {
	display: flex;
	gap: toRem(20);
	flex-wrap: wrap;
	.athletes {
		flex: 0 1 toRem(220);
	}
}

.snowflake {
	will-change: top;
	transition-property: top;
	transition-timing-function: linear;
	animation: rotate-snowflake 5s infinite linear;
}

@keyframes rotate-snowflake {
	100% {
		transform: rotate(360deg);
	}
}

.star {
	opacity: 0;
	&.--show {
		animation: show-star 0.6s linear forwards;
	}
	&.--hide {
		animation: hide-star 0.6s linear forwards;
	}
}

@keyframes show-star {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hide-star {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.tank {
	position: fixed;
	top: 20%;
	left: 30%;
	width: toRem(126);
	aspect-ratio: 1;
	transform: rotate(180deg);
	transition: transform 3s;
	cursor: pointer;
	&--show {
		animation: show-tank 0.6s forwards linear;
	}
	img {
		max-width: 100%;
	}
	&--rotate {
		transform: rotate(0);
	}
	// .tank__hull
	&__hull {
	}
	// .tank__gun
	&__gun {
		position: absolute;
		left: 50%;
		top: 0;
		width: percent(94, 256);
		transform-origin: center 75%;
		transition: transform 0.3s;
		transform: translate(-50%, 0) rotate(0);
		.tank:not(.tank--destroyed) & {
			animation: move-gun 6s infinite linear;
		}
	}
	// .tank__track
	&__track {
		position: absolute;
		top: toRem(5);
		z-index: -1;
		height: 100%;
		&--left {
			left: percent(36, 256);
		}
		// .tank__track--right
		&--right {
			right: percent(36, 256);
		}
	}
	&__explosion {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		aspect-ratio: 1;
		opacity: 0;
		.tank--destroyed & {
			animation: increase-explosion 0.4s forwards linear;
		}
	}
}

@keyframes increase-explosion {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1.5);
	}
}

@keyframes move-gun {
	0% {
		transform: translate(-50%, 0) rotate(0);
	}
	15%,
	25% {
		transform: translate(-50%, 0) rotate(-45deg);
	}
	40%,
	50% {
		transform: translate(-50%, 0) rotate(0);
	}
	70%,
	80% {
		transform: translate(-50%, 0) rotate(45deg);
	}
	90%,
	100% {
		transform: translate(-50%, 0) rotate(0);
	}
}

@keyframes show-tank {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.inputs {
	&:not(:first-child) {
		margin-top: toRem(25);
	}
	&:not(:last-child) {
		margin-bottom: toRem(20);
	}
}

.amount-clicks {
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}
		&::after {
			content: attr(data-amount);
		}
	}
}

//===========================================================================

.translator {
	display: flex;
	column-gap: toRem(20);
	.lang-list {
		flex: 0 1 toRem(150);
		border: toRem(1) solid #fff;
		padding: toRem(15);
	}
}

.lang-list {
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	&__button {
		width: 100%;
		text-align: left;
		font-size: toRem(22);
		transition:
			color 0.3s,
			border-color 0.3s;
		border: toRem(1) solid #fff;
		padding: toRem(5) toRem(10);
		&.--active {
			border-color: blue;
			.--correct-answer & {
				border-color: green;
			}
			.--wrang-answer & {
				border-color: red;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				color: #7a956b;
			}
		}
	}
}

//===========================================================================
.cart {
	// .cart__items
	&__items {
		margin-bottom: toRem(25);
	}
	// .cart__product
	&__product {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .cart__total-price
	&__total-price {
		display: flex;
		column-gap: toRem(7);
		font-size: toRem(30);
		&::after {
			content: attr(data-price) " грн.";
		}
	}
}
.product-cart {
	border: toRem(2) solid lightblue;
	border-radius: toRem(8);
	padding: toRem(10);
	display: flex;
	column-gap: toRem(25);
	align-items: center;
	// .product-cart__preview
	&__preview {
		width: toRem(80);
		aspect-ratio: 1;
		flex-shrink: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// .product-cart__title
	&__title {
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #7a956b;
				}
			}
		}
	}
	// .product-cart__quantity
	&__quantity {
	}
	// .product-cart__total-price
	&__total-price {
		display: flex;
		column-gap: toRem(5);
		font-weight: 700;
		color: #fff;
		&::after {
			content: attr(data-price) " грн.";
		}
	}
	// .product-cart__delete
	&__delete {
		position: relative;
		width: toRem(30);
		aspect-ratio: 1;
		border: toRem(2) solid red;
		transition: border-color 0.3s;
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: toRem(20);
			height: toRem(2);
			top: 50%;
			left: 50%;
			background-color: red;
			transition: background-color 0.3s;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		@media (any-hover: hover) {
			&:hover {
				border-color: rgb(198, 2, 2);
				&::before,
				&::after {
					background-color: rgb(198, 2, 2);
				}
			}
		}
	}
}
.quantity {
	display: inline-flex;
	column-gap: toRem(5);
	// .quantity__button
	&__button {
		position: relative;
		width: toRem(30);
		aspect-ratio: 1;
		border-radius: toRem(5);
		border: toRem(2) solid white;
		transition:
			border-color 0.3s,
			opacity 0.3s;
		&:disabled {
			opacity: 0.2;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: toRem(10);
			height: toRem(2);
			background-color: #fff;
			transform: translate(-50%, -50%);
			transition: background-color 0.3s;
		}
		// .quantity__button--decrease
		&--decrease {
			&::after {
				display: none;
			}
		}
		// .quantity__button--increase
		&--increase {
			&::after {
				height: toRem(10);
				width: toRem(2);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				border-color: #7a956b;
				&::before,
				&::after {
					background-color: #7a956b;
				}
			}
		}
	}
	// .quantity__input
	&__input {
		width: toRem(60);
		input {
			text-align: center;
			width: 100%;
			height: 100%;
		}
	}
}
