.page {
	padding-block: toRem(50);

	hr {
		height: toRem(2);
		background-color: gray;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__wrap {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
	// .page__container
	&__container {
	}
	// .page__title
	&__title {
		font-size: toRem(25);
		font-weight: 700;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .page__text
	&__text {
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&__back {
		position: relative;
		color: #8c71a5;
		font-size: toRem(18);
		padding-inline-start: toRem(15);
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			inline-size: toRem(10);
			block-size: toRem(2);
			inset-inline-start: 0;
			background-color: #77608d;
			transition: inset-inline-start 0.3s;
		}
		&::before {
			inset-block-start: toRem(8);
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
			inset-block-end: toRem(9.5);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before,
				&::after {
					inset-inline-start: toRem(-4);
				}
			}
		}
	}
	&__list {
		&:not(:last-child) {
			margin-block-end: toRem(25);
		}
	}

	.table {
		&:not(:last-child) {
			margin-block-end: toRem(20);
		}
	}

	&__tables {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(40);
		table {
			td {
				min-inline-size: toRem(42);
				text-align: center;
			}
		}
	}

	&__data {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}
}

div {
	line-height: 1.4;
}

.list-page {
	counter-reset: number;
	// .list-page__item
	&__item {
		&:not(:last-child) {
			padding-block-end: toRem(15);
			border-bottom: toRem(2) solid gray;
			margin-block-end: toRem(15);
		}
		&::before {
			counter-increment: number;
			content: counter(number) ")";
			transition: color 0.3s;
			margin-inline-end: toRem(5);
		}
		&:has(a:hover)::before {
			color: #7a956b;
		}
		&--gred {
			display: grid;
			grid-template-columns: auto 1fr;
			row-gap: toRem(15);
			column-gap: toRem(5);
			img {
				max-width: 100%;
				grid-column: span 2;
			}
			.list-page__result {
				grid-column: span 2;
			}
		}
	}
	&__title {
		display: inline-block;
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #7a956b;
				}
			}
		}
	}
	&__wrap {
		margin-block-start: toRem(10);
		padding-inline-start: toRem(25);
		& > * {
			margin-block-end: toRem(15);
		}
		& > *:last-child {
			margin-block-end: 0;
		}
	}
	&__text {
		line-height: 1.3;
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	&__img {
		max-inline-size: 100%;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}

.info {
	color: red;
	font-size: toRem(25);
	&--green {
		color: green;
	}
}

.table {
	border-collapse: collapse;
	font-size: toRem(16);
	letter-spacing: toRem(1);
	caption {
		margin-block-end: toRem(5);
		font-weight: 600;
	}
	th {
		font-weight: 700;
		border: toRem(2) solid #fff;
		padding: toRem(12) toRem(10);
	}
	&__thead {
		background-color: gray;
		th,
		td {
			border: toRem(2) solid white;
		}
		td {
			padding-inline: toRem(10);
			text-align: center;
			font-weight: 700;
		}
		th {
			text-align: center;
			font-weight: 700;
		}
	}
	&__tbody,
	&__tfoot {
		th,
		td {
			border: toRem(2) solid gray;
			padding: toRem(12) toRem(10);
			text-align: center;
		}
		td {
			&.green {
				background-color: green;
			}
			&.red {
				background-color: orangered;
			}
		}
	}
	&__tbody {
		&--center {
			th {
				text-align: right;
			}
			td {
				text-align: center;
			}
		}
	}
	&__tfoot {
		th {
			text-align: right;
		}
	}
}

.menu {
	// .menu__list
	&__list {
	}
}
.menu-list {
	counter-reset: step;
	&--start-3 {
		counter-reset: step 2;
	}
	// .menu-list__item
	&__item {
		display: flex;
		column-gap: toRem(5);
		&::before {
			content: counter(step) ".";
			counter-increment: step;
		}
	}
}

.victory {
	font-weight: 700;
	font-size: toRem(25);
	color: green;
}

hr {
	margin-block-start: toRem(15);
}

.list {
	&__item {
		display: flex;
		column-gap: toRem(10);
		align-items: center;
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
		&::before {
			content: "";
			inline-size: toRem(10);
			block-size: toRem(10);
			background-color: #77608d;
			border-radius: 50%;
		}
	}
}

.form {
	&__row {
		&:not(:last-child) {
			margin-block-end: toRem(15);
		}
	}
	&__label {
		display: flex;
		column-gap: toRem(10);
		align-items: center;
		input {
			align-self: flex-start;
			max-inline-size: toRem(200);
			block-size: toRem(35);
			background-color: #fff;
			border: toRem(1) solid gray;
			padding-inline: toRem(15);
			border-radius: toRem(5);
			color: #000;
		}
	}
}

.images-game {
	display: flex;
	align-items: center;
	column-gap: toRem(25);
	&__item {
		flex-basis: toRem(200);
		aspect-ratio: 1;
		flex-shrink: 0;
		img {
			inline-size: 100%;
			block-size: 100%;
			object-fit: contain;
		}
	}
}

.page__game {
	display: grid;
	gap: toRem(10);
	justify-items: start;
	grid-template-columns: repeat(5, toRem(20));
	input {
		inline-size: toRem(20);
		block-size: toRem(20);
		appearance: none;
		cursor: pointer;
		border: toRem(1) solid grey;
		&.--miss {
			background-color: red;
		}
		&.--green {
			background-color: green;
		}
		&.--blue {
			background-color: blue;
		}
		&.--yellow {
			background-color: yellow;
		}
	}
}

.page__health {
	position: fixed;
	inset-block-end: toRem(120);
	inset-inline-start: toRem(120);
	font-size: toRem(20);
	span {
		color: red;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.page__shells {
	position: fixed;
	inset-block-end: toRem(120);
	inset-inline-end: toRem(820);
	font-size: toRem(20);
	span {
		color: yellow;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.page__cannon {
	position: fixed;
	inset-block-end: toRem(180);
	inset-inline-end: toRem(820);
	font-size: toRem(20);
	span {
		color: green;
		font-weight: 700;
		font-size: toRem(25);
	}
}

.play {
	padding: toRem(10) toRem(30);
	background-color: #77608d;
	color: #fff;
	border-radius: toRem(8);
	transition: background-color 0.3s;

	@media (any-hover: hover) {
		&:hover {
			background-color: #5f4b72;
		}
	}
	&:disabled {
		cursor: default;
		background-color: grey;
	}
	&:not(:last-child) {
		margin-block-end: toRem(40);
	}
}

.mark-list {
	&__item {
		display: flex;
		column-gap: toRem(10);
		&:not(:last-child) {
			margin-block-end: toRem(7);
		}
		&::before {
			content: "";
			flex-shrink: 0;
			margin-block-start: toRem(9);
			inline-size: toRem(8);
			block-size: toRem(8);
			background-color: #fff;
			border-radius: 50%;
		}
	}
}

.code,
.code > span {
	display: block;
}

.game-field {
	display: inline-grid;
	grid-template-columns: repeat(6, toRem(25));
	grid-template-rows: repeat(6, toRem(25));
	grid-auto-rows: repeat(6, toRem(30));
	gap: toRem(7);
	&:not(.--end) input {
		cursor: pointer;
	}
	&.--end input {
		cursor: default;
	}
	input {
		appearance: none;
		display: block;
		width: 100%;
		height: 100%;
		border: toRem(2) solid grey;

		&.--miss,
		&.--complete {
			cursor: default;
		}
		&.--miss {
			background-color: red;
		}
		&.--complete {
			background-color: green;
		}
	}
}

.start-data {
	&:not(:last-child) {
		margin-bottom: toRem(15);
	}
}
